body {
    background: url("../img/moviequiz.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
.lead {
    color: white;
}
.footerText{
    text-align:center;
    color: white;
}
footer{
    position:absolute !important;
    bottom:0 !important;
    margin-right:-25px !important;
    width:100% !important;
    height:60px !important;   /* Height of the footer */
    background:#000 !important;
}
